<a href="https://colab.research.google.com/github/iharshidas/Widhya_winternship/blob/main/Stock_Price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Stock Price Prediction using Linear Regression**
### **By: Harshita Das**  
Widhya Winternship Mission-2

In [1]:
# Importing the required modules
import pandas as pd
import numpy as np
!pip install quandl

Collecting quandl
  Downloading https://files.pythonhosted.org/packages/c2/58/9f0e69d836045e3865d263e9ed49f42b23a58526fdabb30f74c430baee3f/Quandl-3.6.0-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.19.5)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.6/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.6/dist-packages (from quandl) (8.6.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.1.5)
Collecting inflection>=0.3.1
  Downloading https://files.pythonhosted.org/packages/59/91/aa6bde563e0085a02a435aa99b49ef75b0a4b062635e606dab23ce18d720/inflection-0.5.1-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from quandl) (2.8.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14->quandl) (2018.9)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.6.0

In [2]:
# Importing quandl module
import quandl
quandl.ApiConfig.api_key = "oWacqmJWN6AJFg2YJ5Gt"

In [3]:
# Reading the data into df dataframe
df = quandl.get("EOD/AAPL")
df.head()

              Open    High     Low  ...    Adj_Low  Adj_Close   Adj_Volume
Date                                ...
2013-09-03  493.10  500.60  487.35  ...  15.437510  15.476472  331928800.0
2013-09-04  499.56  502.24  496.28  ...  15.720381  15.796753  345032800.0
2013-09-05  500.25  500.68  493.64  ...  15.636755  15.688388  236367600.0
2013-09-06  498.44  499.38  489.95  ...  15.519869  15.781833  359525600.0
2013-09-09  505.00  507.92  503.48  ...  15.948451  16.033661  340687200.0

[5 rows x 12 columns]

In [4]:
# Adding new columns to df dataframe

# High-low percentage
df['HL_PCT']=(df['Adj_High']-df['Adj_Low'])/df['Adj_Close']*100.0

# Percentage change
df['PCT_change']=(df['Adj_Close']-df['Adj_Open'])/df['Adj_Open']*100.0

In [5]:
df.head()

              Open    High     Low  ...   Adj_Volume    HL_PCT  PCT_change
Date                                ...
2013-09-03  493.10  500.60  487.35  ...  331928800.0  2.711941   -0.916650
2013-09-04  499.56  502.24  496.28  ...  345032800.0  1.195129   -0.173953
2013-09-05  500.25  500.68  493.64  ...  236367600.0  1.421447   -0.995502
2013-09-06  498.44  499.38  489.95  ...  359525600.0  1.892738   -0.044138
2013-09-09  505.00  507.92  503.48  ...  340687200.0  0.877176    0.231683

[5 rows x 14 columns]

In [6]:
# Defining new dataframe of important features
df = df[['Adj_Close', 'HL_PCT', 'PCT_change', 'Adj_Volume']]
df.head()

            Adj_Close    HL_PCT  PCT_change   Adj_Volume
Date
2013-09-03  15.476472  2.711941   -0.916650  331928800.0
2013-09-04  15.796753  1.195129   -0.173953  345032800.0
2013-09-05  15.688388  1.421447   -0.995502  236367600.0
2013-09-06  15.781833  1.892738   -0.044138  359525600.0
2013-09-09  16.033661  0.877176    0.231683  340687200.0

In [24]:
# Importing modules for data analysis
import math
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [8]:
price = 'Adj_Close'
df.fillna(value=-99999, inplace=True)

# Forcasting 1% of the entire length of the dataset
final_price = int(math.ceil(0.01 * len(df)))

In [9]:
# label=price
df['label'] = df[price].shift(-final_price)

In [10]:
df.head()

            Adj_Close    HL_PCT  PCT_change   Adj_Volume      label
Date
2013-09-03  15.476472  2.711941   -0.916650  331928800.0  14.719406
2013-09-04  15.796753  1.195129   -0.173953  345032800.0  14.960780
2013-09-05  15.688388  1.421447   -0.995502  236367600.0  14.805882
2013-09-06  15.781833  1.892738   -0.044138  359525600.0  15.541726
2013-09-09  16.033661  0.877176    0.231683  340687200.0  15.492944

In [11]:
# Drop NaN rows from dataframe
df.dropna(inplace=True)

In [12]:
# Defining X and y for ML algorithm
X = np.array(df.drop(['label'], 1))
y = np.array(df['label'])

In [13]:
# Preprocessing X in the range -1 to1
X = preprocessing.scale(X)

In [16]:
# Splitting into train-test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [18]:
# Modelling the data
linreg = LinearRegression()  
linreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
# Predicting the test set
y_pred=linreg.predict(X_test)

In [23]:
# Evaluating the model using mean squared error
print("Mean Squared Error: ", metrics.mean_squared_error(y_test, y_pred))

Mean Squared Error:  1.305806844521906